
@media (max-width: 1207px){
    .table{
        height: 140vh;
    }

    .wrap{
        height: 100vh;
    }
}

@media (max-width: 991px){
    .table{
        height: 150vh;
    }

    .wrap{
        height: 100vh;
    }

    .header{
        height: 25vh;
        width:100%;
        align-items: center;
    }

    .logo{
        margin-left: 5%;
        flex-direction: column;
    }

    .menu{
        width: 40%;
    }

    .menu ul{
        height: 100%;
        flex-direction: column;
    }

    .menu li{
        border: 2px solid #fff;
        border-radius: 0;
        width: 80%;
        margin-bottom: 5px;
        text-align: center;
    }
    
    .content-window .info{
        height: 80%;
    }
    
    .content-window .result-salad-ingredients{
        height: 90%;
    }
}

@media (max-width: 810px){
    .table{
        height: 245vh;

    }

    .table-header h2{
        align-items: center;
        width: 90%;
        text-align: center;
    }

    .wrap{
        height: 185vh;
    }
}
