*, *:before, *after{
box-sizing: border-box;
}

html{
    font-size: 20px;
}

body{
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 3px solid royalblue;
}

.main{
    height:100vh;
    min-height: 600px;
    background: url(images/backgr.jpg) no-repeat center;
    background-size: cover;
    position:relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    color:#fff;
}

.main-overlay{
    left: 0;
    top: 0;
    width:100%;
    height:100%;
    background: rgb(97, 97, 97);
    opacity: .6;
    z-index: 0;
    position: absolute;
}

.header{
    height:10vh;
    width:90%;
    position:relative;
    z-index:2;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.menu{
    width:60%;
}

.menu ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.menu ul li{
    border: 2px solid #fff;
    padding:10px;
    border-radius: 100px;
    width:60px;
    text-align: center;
}

.logo{
    display: flex;
    align-items: center;
}

.menu-link{
    text-transform: uppercase;
    color:#fff;
    text-decoration: none;
}

.main-text{
    position:relative;
    z-index:2;
    text-align: center;
}

.main-text h1{
    /* text-shadow: 0px 0px 20px rgba(204, 204, 223, 0.5); */
    font-size: 80px;
    margin: 0.3rem;
}

.main-text p::before{
    content: '';
    width: 20px;
    height: 2px;
    background-color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-right:10px;
}

.main-text p::after{
    content: '';
    width: 20px;
    height: 2px;
    background-color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-left:10px;
}

.main-arrow{
    position: relative;
    z-index: 2;
    height: 15vh;
    justify-content: center;
    align-items: center;
}

.arrow-down{
    text-align: center;
    width:50px;
    height:50px;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
/*     box-shadow: 0px 0px 20px 3px rgba(204, 204, 223, 0.4); */
}
/* 
.table *{

    border: 1px solid red;
} */

.table{
    margin-top: 0;
    height: 100vh;
    min-height: 600px;
}

.table-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.table h2{
color: rgb(208, 26, 26);
text-transform: uppercase;
font-size: 2rem;
margin: 0;
}

.table p{
    width: 80%;
    color:rgb(61, 11, 11);
    font-size: 0.9rem;
    text-align: center;
    margin-top: 10px;
}

.table .hint{
    width: 60%;
    padding: 10px;
    color: #fff;
    background: rgb(208, 26, 26, 0.9);
    border-radius: 40px;
    margin-bottom: 60px;
}

/* .wrap{
    width: 100%;
    height: 100%;
} */

.left{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 68%;
    float:left;
    padding-top: 5px;
   /*  border:2px solid black; */
}

.ingredients-tag{
    text-align: center;
    color:rgb(61, 11, 11);
    font-size: 0.9rem;
    width: 300px;

    display: flex;
    flex-direction: column;

    background-color: rgba(243, 230, 113, 0.7);
    border-radius: 1rem;
    transition: 0.2s;
}

.ingredients-tag:hover{
    border: 2px solid rgba(159, 179, 82, 0.7);
}

.group-title{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.group-title h4{
    margin-left:5px;
    text-transform: uppercase;
}

ul{
    padding: 0;
    margin-top: 0;
}

.left li{
    list-style: none;
    padding: 3px;
    justify-content: center;
}

.left li:hover{
    width: 90%;
    background-color: rgba(206, 232, 107, 0.7);
    border: 2px solid rgba(159, 179, 82, 0.7);
}

/* .right-fix{
    float:right;
    width: 30%;
    background-color: rgba(68, 109, 107, 0.9);
} */

.order{
    background: url(images/backgr_cook.jpg) no-repeat center;
    background-size: cover;
    position:relative;
    height: 20rem;
    color: #fff;
    text-align: center;
}

.order-overlay{
    left: 0;
    top: 0;
    width:100%;
    height:100%;
    background: rgb(97, 97, 97);
    opacity: .6;
    z-index: 0;
    position: absolute;
}

.order-content{
    position: relative;
    z-index: 2;
}

.order h2{
    padding-top: 130px;
    font-size: 2rem;
}

.cook-btn{
    border: none;
    background-color:  rgb(208, 26, 26, 0.9);
    color: #fff;
    width: 12rem;
    height: 2rem;
    font-size: 1.4rem;
    border-radius: 100px;
}

.cook-btn:hover{
    cursor: pointer;
    background-color: rgba(58, 65, 31, 0.9);
    box-shadow: 0px 0px 20px 3px rgba(204, 204, 223, 0.4); 
}

.footer-wrap{
    display: flex;
    justify-content: flex-end;
    margin-top:10px;
}

.footer-menu{
    width: 40%;
}

.footer-menu ul{
    display: flex;
    justify-content: space-around;
}

.footer-menu li{
    list-style: none;
}

.footer-link{
    text-decoration: none;
    font-size: 0.9rem;
    color: rgb(208, 26, 26, 0.9);
    font-weight: 500;
}

.line{
   /*  display:block; */
    width: 90%;
    height: 2px;
    background-color: rgb(208, 26, 26, 0.5);
    margin: 1rem auto;

}

.bottom{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    font-size: 0.7rem;
    color: rgb(208, 26, 26, 0.7);
    margin-bottom: 10px;
}

.socials{
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.socials img{
    width: 30px;
}
