*, *:before, *after{
box-sizing: border-box;
}

html{
    font-size: 20px;
}

body{
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: rgba(255, 255, 255);
}

::-webkit-scrollbar-thumb{
    background-color: rgba(83, 48, 48, 0.3);
    border-radius: 15px;
    border: 1.5px solid rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgba(83, 48, 48, 0.8);
}

.added::-webkit-scrollbar-thumb{
    background-color: rgba(86, 97, 44, 0.7);
}

.added::-webkit-scrollbar{
    width: 8px;
}

.main{
    height:100vh;
    min-height: 600px;
    background: url(images/backgr.jpg) no-repeat center;
    background-size: cover;
    position:relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    color:#fff;
}

.main-overlay{
    left: 0;
    top: 0;
    width:100%;
    height:100%;
    background: rgb(97, 97, 97);
    opacity: .6;
    z-index: 0;
    position: absolute;
}

.header{
    margin-top: 5%;
    height:10vh;
    width:90%;
    position:relative;
    z-index:2;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.menu{
    width: 460px;
}

.menu ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.menu li{
    border: 2px solid #fff;
    padding:10px;
    border-radius: 100px;
    width: 100px;
    text-align: center;
}

.menu li:hover{
    background-color: rgba(255, 78, 78, 0.6);
    border: 2px solid rgba(145, 18, 18, 0.6);
}

.logo{
    display: flex;
    align-items: center;
}

.menu-link{
    text-transform: uppercase;
    color:#fff;
    text-decoration: none;
}

.main-text{
    position:relative;
    z-index:2;
    text-align: center;
}

.main-text h1{
    /* text-shadow: 0px 0px 20px rgba(204, 204, 223, 0.5); */
    font-size: 80px;
    margin: 0.3rem;
}

.main-text p::before{
    content: '';
    width: 20px;
    height: 2px;
    background-color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.main-text p::after{
    content: '';
    width: 20px;
    height: 2px;
    background-color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-left:10px;
}

.main-arrow{
    position: relative;
    z-index: 2;
    height: 15vh;
    justify-content: center;
    align-items: center;
}

.arrow-down{
    text-align: center;
    width:50px;
    height:50px;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
/*     box-shadow: 0px 0px 20px 3px rgba(204, 204, 223, 0.4); */
}

.table{
/*     background-color: rgb(185, 144, 144); */
    margin-top: 0;
    height: 190vh;
    min-height: 600px;
}

.table-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.table h2{
color: rgb(208, 26, 26);
text-transform: uppercase;
font-size: 2rem;
margin: 0;
}

.table p{
    width: 80%;
    color:rgb(61, 11, 11);
    font-size: 0.9rem;
    text-align: center;
    margin-top: 10px;
}

.table .hint{
    width: 60%;
    padding: 10px;
    color: #fff;
    background: rgb(208, 26, 26, 0.9);
    border-radius: 40px;
    margin-bottom: 60px;
}

.wrap{
    position:relative;
    height: 70vh;
  /*   background-color: rgb(97, 88, 116); */
}

.left{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 68%;
    float:left;
    padding-top: 5px;
 /*    border: 2px solid black; */
    flex-wrap: wrap;
}

.ingredients-tag{
    margin: 10px;
    text-align: center;
    color:rgb(61, 11, 11);
    font-size: 0.9rem;
    width: 250px;
    display: flex;
    flex-direction: column;

    background-color: rgba(243, 230, 113, 0.7);
    border-radius: 1rem;
    transition: 0.2s;
}

.ingredients-tag:hover{
    box-sizing: border-box;
    border: 2px solid rgba(159, 179, 82, 0.7);
}

.group-title{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.group-title h4{
    margin-left:5px;
    text-transform: uppercase;
}

.left ul{
    padding: 0;
    margin-top: 0;
    height: 100px;
    width: 98%;
    overflow: auto;
    transition: .4s linear;
}

.left ul:hover{
    padding: 0;
    margin-top: 0;
    height: 200px;
    overflow: auto;
}

.left li{
    list-style: none;
    padding: 3px;
    justify-content: center;
}

.left li:hover{
    width: 90%;
    background-color: rgba(206, 232, 107, 0.7);
    border: 2px solid rgba(159, 179, 82, 0.7);
}

.right-fix{
    position: sticky;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    top: 0;
    height: 23em;
    margin-top:17px;
    right:0;
    float:right;
    width: 30%;

    text-align: center;
    background-color: rgba(159, 179, 82, 0.7);
}

.right-fix h6{
    margin-top: 10px;
    background-color: rgba(86, 97, 44, 0.7);
    font-size: 0.9rem;
    color: white;
    text-transform: uppercase;
}

.right-fix .added{
    left: 5%;
    top: 70px;
/*     border: 2px solid rgba(86, 97, 44, 0.7); */
    position: absolute;
    height: 55%;
    width: 92%;
    overflow: auto;
}

.right-fix .added p{
    border-radius: 10px;
    background-color: rgba(243, 230, 113, 0.9);
    width: 98%;
    margin: 4px auto;
    padding-top: 2px;
    padding-bottom: 2px;
    align-items: right;
    position: relative;
    transition: .2s linear;
}

.right-fix .added input{
    width: 30px;
}

.right-fix .count-btn{
    border: none;
    width:100px;
    margin-top:10px;
    background-color:  rgba(243, 230, 113, 0.9);
    color: rgba(86, 97, 44, 0.7);
/*     width: 12rem;
    height: 2rem; */
    font-size: 1.2rem;
    border-radius: 100px;
    outline:none;
}

.right-fix .last-btn:hover{
background-color:  rgba(51, 56, 30, 0.7);
}

.right-fix .count-btn:hover{
    cursor: pointer;
    background-color: rgba(241, 225, 74, 0.9)
}

.right-fix .tooltip {
    position: fixed;
    padding: 10px 20px;
    border: 1px solid #b3c9ce;
    border-radius: 4px;
    text-align: center;
    font: italic 14px/1.3 sans-serif;
    color: #333;
    background: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
  }

.remove-product{
    position: absolute;
    width: 18px;
    height: 18px;
    background-size: 17px 17px;
    background-image: url('images/close_red.png');
    right: 1%;
    top: 1%;
}

.remove-product:hover{
    background-image: url('images/close.png');
}

.results{
    position:absolute;
    bottom: 15px;
    background-color: rgba(86, 97, 44, 0.7);
    width: 100%;
    color: white;
    padding-bottom: 5px;
}

.order{
    margin-top: 30px;
    background: url(images/backgr_cook.jpg) no-repeat center;
    background-size: cover;
    position:relative;
    height: 20rem;
    text-align: center;
}

.order-overlay{
    left: 0;
    top: 0;
    width:100%;
    height:100%;
    background: rgb(97, 97, 97);
    opacity: .6;
    z-index: 0;
    position: absolute;
}

.order-content{
    position: relative;
    z-index: 2;
}

.order h2{
    padding-top: 8%;
    padding-bottom: 4%;
    font-size: 2rem;
    color: #fff;
}

.cook-btn{
    border: none;
    background-color:  rgb(208, 26, 26, 0.9);
    color: #fff;
    width: 12rem;
    height: 2rem;
    font-size: 1.4rem;
    border-radius: 100px;
    outline:none;
}

.cook-btn:hover{
    cursor: pointer;
    background-color: rgba(58, 65, 31, 0.9);
    box-shadow: 0px 0px 20px 3px rgba(204, 204, 223, 0.4); 
}

.order-content .last-btn{
    position:absolute;
    border: none;
    color: #fff;
    width:100px;
    margin-left: 10px;
    margin-top: -10px;
    background-color:  rgb(208, 26, 26, 0.9);
    font-size: 1rem;
    border-radius: 100px;
    outline:none;
}

.last-btn:hover{
    cursor: pointer;
    background-color: rgba(58, 65, 31, 0.9);
    box-shadow: 0px 0px 20px 3px rgba(204, 204, 223, 0.4); 
}

.footer-wrap{
    display: flex;
    justify-content: flex-end;
    margin-top:10px;
}

.footer-menu{
    width: 40%;
}

.footer-menu ul{
    display: flex;
    justify-content: space-around;
}

.footer-menu li{
    list-style: none;
}

.footer-link{
    text-decoration: none;
    font-size: 0.9rem;
    color: rgb(208, 26, 26, 0.9);
    font-weight: 500;
}

.line{
   /*  display:block; */
    width: 90%;
    height: 2px;
    background-color: rgb(208, 26, 26, 0.5);
    margin: 1rem auto;

}

.bottom{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    font-size: 0.7rem;
    color: rgb(208, 26, 26, 0.7);
    margin-bottom: 10px;
}

.socials{
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.socials img{
    width: 30px;
}

.cook-window{
    background-color: #fff;
    width: 70%;
    height: 70%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index:150;
    margin: 0 auto;

    display: none;
}

.cook-window .content-window{
    display:flex;
    justify-content: space-around;
    height:80%;
    flex-wrap: wrap;
    align-items: center;
}

.cook-window .close{
    border-radius: 10px;
    border: 2px solid  rgb(175, 31, 31);
    position: absolute;
    width: 25px;
    height: 25px;
    background-size: 24px 24px;
    background-image: url('images/close.png');
    right: 1%;
    top: 1%;
/*     background-color: #fff; */
}

.cook-window .close:hover{
    box-shadow: 0px 0px 10px 1px rgba(30, 150, 60, 0.4);
}

.cook-window .title{
    font-size: 1.5rem;;
    text-transform: uppercase;
    color: rgb(175, 31, 31);
}

.content-window .anim{
    width: 25%;
}

.content-window .anim img{
    width: 85%;
}

.content-window .info{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 60%;
    align-items: center;
}

.content-window .info h2{
    color: rgb(61, 11, 11);
    height: 10%;
    font-size: 1rem;
    padding: 5px 5px;
    margin-top: 20px;
}

.content-window .result-salad-ingredients{
    margin-bottom: 10px;
    width: 90%;
    overflow: auto;
}

.content-window .windowRes{
    color: rgb(175, 31, 31);
    width: 90%;
    text-align: right;
    padding: 10px;
/*     background-color: darksalmon; */
} 

.filter{
    background-color: rgba(0,0,0,0.55);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index:100;

    display: none;
}



