*, *:before, *after{
box-sizing: border-box;
}

html{
    font-size: 20px;
}

body{
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main{
    height:100vh;
    min-height: 600px;
    background: url(images/backgr.jpg) no-repeat center;
    background-size: cover;
    position:relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    color:#fff;
}

.main-overlay{
    left: 0;
    top: 0;
    width:100%;
    height:100%;
    background: rgb(97, 97, 97);
    opacity: .6;
    z-index: 0;
    position: absolute;
}

.header{
    height:10vh;
    width:90%;
    position:relative;
    z-index:2;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.menu{
    width:60%;
}

.menu ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.menu ul li{
    border: 2px solid #fff;
    padding:10px;
    border-radius: 100px;
    width:60px;
    text-align: center;
}

.logo{
    display: flex;
    align-items: center;
}

.menu-link{
    text-transform: uppercase;
    color:#fff;
    text-decoration: none;
}

.main-text{
    position:relative;
    z-index:2;
    text-align: center;
}

.main-text h1{
    /* text-shadow: 0px 0px 20px rgba(204, 204, 223, 0.5); */
    font-size: 80px;
    margin: 0.3rem;
}

.main-text p::before{
    content: '';
    width: 20px;
    height: 2px;
    background-color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-right:10px;
}

.main-text p::after{
    content: '';
    width: 20px;
    height: 2px;
    background-color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-left:10px;
}

.main-arrow{
    position: relative;
    z-index: 2;
    height: 15vh;
    justify-content: center;
    align-items: center;
}

.arrow-down{
    text-align: center;
    width:50px;
    height:50px;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
/*     box-shadow: 0px 0px 20px 3px rgba(204, 204, 223, 0.4); */
}
/* 
.table *{

    border: 1px solid red;
} */

.table{
    margin-top: 0;
    height:100vh;
    min-height: 600px;
}

.table-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.table h2{
color: rgb(208, 26, 26);
text-transform: uppercase;
font-size: 2rem;
margin: 0;
}

.table p{
    width: 80%;
    color:rgb(61, 11, 11);
    font-size: 0.9rem;
    text-align: center;
    margin-top: 10px;
}

.table .hint{
    width: 60%;
    padding: 10px;
    color: #fff;
    background: rgb(208, 26, 26, 0.9);
    border-radius: 40px;
}


.ingredients-tags *{

    border: 1px solid red;
}

.ingredients-tags{
    width: 68%;
    float:left;
}

.ingredients li{
    list-style: none;
}

.sidebar{
    border:1px solid green;
    float:right;
    width: 30%;
    margin-right: 0;
}